
.menu {
  height: 70px;
  background-color: #012d61;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.menu-img {
  height: 80px;
  margin-left: 80px;
  float: left;
}

.manu ul {
  line-height: 10px;
}

.menu-item {
  float: right;
  list-style: none;
  height:70px;
  padding: 20px;
  text-align:center;
}
.menu-item a{
  text-decoration: none;
  margin-top: 0px;
  color: white;
}

.menu-item:hover, .menu-item:active {
  background-color: #1fba7e;
  text-shadow: 2px 2px #999;
}
