#about {
  height: 500px;
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.button {
  background: #1a304c;
  background: -moz-linear-gradient(top, #1a304c 0%, #1a304c 100%);
  background: -webkit-linear-gradient(top, #1a304c 0%,#1a304c 100%);
  background: linear-gradient(to bottom, #1a304c 0%,#1a304c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a304c', endColorstr='#1a304c',GradientType=0 );
  
  width: 200px;
  height: 50px;
  margin:30px;
  border-radius: 30px;
  color: white;
  box-shadow: 0 6px #aaa;
  font-size: 150%;
  transition-duration:0.1s;
  border: none;

}.button:active{
  box-shadow: 0 0 #aaa;
  transform: translateY(6px);
}

.about-para{
  font-size: 20px;
  padding-top: 15px;
  line-height: 1.9;
}


